.FacultyUpdatePassword-main-frame {

}

.FacultyUpdatePassword-frame {
  width: 50%;
  margin: 0 auto;
}

.FacultyUpdatePassword-frame Input {
  width: 200px;
}


.FacultyUpdatePassword-btn {
  display: flex;
  justify-content: center;
}

.FacultyUpdatePassword-Input {
  width: 100%;
}
